.firstLevel {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 24px 1fr;
	gap: 30px;
	align-items: center;

	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
}

.firstLevelActive,
.firstLevel:hover {
	color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
	fill: var(--primary);
}

.secondBlock {
	margin-top: 15px;
	margin-left: 12px;
	padding-left: 32px;

	border-left: 1px solid #DFDFDF;
}

.secondLevel {
	margin-bottom: 10px;
	color: var(--gray-dark);

	text-transform: uppercase;
	cursor: pointer;

	font-weight: 300;
	font-size: 12px;
	line-height: 16px;
}

.secondLevelBlock {
	display: none;
}

.secondLevelBlockOpened {
	display: block;
}

.secondLevelBlockOpened:last-child {
	margin-bottom: 20px;
}

.thirdLevel {
	margin-bottom: 10px;
	display: block;

	color: var(--gray-dark);
	cursor: pointer;

	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
}

.thirdLevelActive,
.thirdLevel:hover {
	color: var(--primary);
}